<div class="container">
	<div class="row">
	  <div class="col-sm-6 text-center creativesheader">
	    <h1>Hello world</h1>
	   </div>
	  <div class="col-sm-6 text-center developerheader">
	    <h1>Hello World</h1>
	  </div>
  </div>
</div>