// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_name{
	margin-top: 2%;
}

.home_description{
	margin-top: 2%;
}
.creativesheader{
	background-color: #448AFF;
	
}

.developersheader{
	background-color: #3F51B5;
}

.comment{
	margin-top: 1%;
	margin-bottom: 1%;
	border: 1px solid #EFAED0;
}

.comment-box{
	margin-top: 1%;
}